<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комментарии</title>
</head>
<body>
<script type="text/javascript" src="../scripts/view.js"></script>
<table id="commentsTable" border="1">
    <caption>Комментарии</caption>
    <tr>
        <th>Id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Город</th>
        <th>Контактный телефон</th>
        <th>E-mail</th>
        <th>Комментарий</th>
        <th></th>
    </tr>

</table>
</body>
</html>